PORT=PORT_NUMBLER
secretOrKey = Secret_Key
clientID= GoogleConsole_OAuth_2.0_Client_IDs
clientSecret= GoogleConsole_OAuth_2.0_Client_Secret
callbackURL= GoogleConsole_OAuth_2.0_callbackURL
GITHUB_CLIENT_ID= GITHUB_Client_ID
GITHUB_CLIENT_SECRET = GITHUB_Client_Secret
GITHUB_CALLBACK_URL = GITHUB_CALLBACK_URL_callbackURL